<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap" rel="stylesheet"> 
    <title>Ascii-art-web</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <div class="wrapp_header">  
                <a href="/"><div class="logo"></div></a>    
                <h1 class="title">ascii-art-web</br>stylize</h1>
            </div>
        </header>
        <div class="text">        
            <p class="about_text">
            Ascii-art-stylize consists in creating an attractive, interactive and intuitive website.
            
            Ascii-art-web consists in creating and launching a server on which a web GUI (graphical user interface) can be used
            
            On the main page you can see text input and 3 buttons that send a Post request to ‘Ascii-art’ and output the result to the page.
            
            Ascii-art is a program that consists in receiving a string as an argument and outputting a string in a graphical representation using ASCII.
            
            This project should handle input data with numbers, letters, spaces and special characters.
            </p> 
            <a class="inst" href="https://www.instagram.com/hello.alem/?hl=ru">AlemSchool</a>

        </div>
    </div>
</body>
</html>